
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MTS Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
        .book h1 {
            font-size: 1.2em;
        }
        .book h2 {
            font-size: 1em;
            font-style: italic;
        }
        .download-link {
        }
        body {
            background: #ddd;
            font-family: sans-serif;
            font-size: 12px;
            color: #333;
        }
        #wrap {
            width: 308px;
            margin: 0 auto;
            padding: 0;
        }
        header {
            background: #971c1f url("/img/header.gif") no-repeat;
            color: #eee;
            height: 31px;
            line-height: 31px;
            padding-left: 65px;
            margin-bottom: 6px;
        }
        header h1 {
            font-size: 12px;
        }
        header h1 a {
            font-size: 12px;
            color: #eee;
            text-decoration: none;
        }
        header h1 a:hover {
            text-decoration: underline;
        }
        #content {
            padding: 10px;
            background: #fff;
            border-radius: 6px;

        }
        a {
            color: #47a2c0;
        }
        a:hover {
            text-decoration: none;
        }
        .book {
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
        }
        .book h1, .book h2, .book h3 {
            padding: 0;
            margin: 0;
            font-size: 12px;
            font-weight: normal;
        }
        .book-info {
            width: 169px;
            float: left;
            border-right: 1px solid #ccc;
            padding-right:10px;
        }
        .book-links {
            width: 98px;
            padding-left:10px;
            float: left;
        }
        .groupfix:after {
            content: "";
            display: table;
            clear: both;
        }
        footer {
            border-top: 1px solid #eee;
            margin-top: 10px;
            line-height: 24px;
        }
    </style>
    <!-- Fav and touch icons -->
    {#<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">#}
    {#<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">#}
    {#<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">#}
    {#<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">#}
    {#<link rel="shortcut icon" href="../assets/ico/favicon.png">#}
</head>

<body>
<div id="wrap">
    <header>
        <h1><a href="/">МТС Книги</a></h1>
    </header>
    <div id="content">
        {{ content|raw }}
    </div>
    <footer>
        © ОАО "МТС" 2013
    </footer>
</div>
</body>
</html>

